{% extends 'base.html' %}
{% load static %}
{% block content%}
Page for adding new food
        <form name="form" action="{% url 'add-food' %}" method="post">
            {% csrf_token %}
            <label for="measurement_type">Select measurement type:</label>
            <select name="measurement_type" id="measurement_type">
                <option value="grams">Per 100 grams</option>
                <option value="mL">Per 100 mL</option>
            </select>
            <br>
            <label for="name">Name of Food:</label>
            <input id="name" type="text" name="name">
            <br>
            <label for="calories_kj">Calories (kJ):</label>
            <input id="calories_kj" type="number" name="calories_kj">
            <br>
            <label for="water_g">Water (g):</label>
            <input id="water_g" type="number" name="water_g">
            <br>
            <label for="protein_g">Protein (g):</label>
            <input id="protein_g" type="number" name="protein_g">
            <br>
            <label for="total_fat_g">Total Fat (g):</label>
            <input id="total_fat_g" type="number" name="total_fat_g">
            <br>
            <label for="total_fiber_g">Total Fiber (g):</label>
            <input id="total_fiber_g" type="number" name="total_fiber_g">
            <br>
            <label for="alcohol_g">Alcohol (g):</label>
            <input id="alcohol_g" type="number" name="alcohol_g">
            <br>
            <label for="total_sugars_g">Total Sugars (g):</label>
            <input id="total_sugars_g" type="number" name="total_sugars_g">
            <br>
            <label for="added_sugars_g">Added Sugars (g):</label>
            <input id="added_sugars_g" type="number" name="added_sugars_g">
            <br>
            <label for="total_carbs_g">Total Carbs (g):</label>
            <input id="total_carbs_g" type="number" name="total_carbs_g">
            <br>
            <label for="ca_g">Calcium (g):</label>
            <input id="ca_g" type="number" name="ca_g">
            <br>
            <label for="phos_g">Phosphorous (g):</label>
            <input id="phos_g" type="number" name="phos_g">
            <br>
            <label for="k_g">Potassium (g):</label>
            <input id="k_g" type="number" name="k_g">
            <br>
            <label for="na_g">Sodium (g):</label>
            <input id="na_g" type="number" name="na_g">
            <br>
            <label for="total_saturated_fat_g">Total Saturated Fat (g):</label>
            <input id="total_saturated_fat_g" type="number" name="total_saturated_fat_g">
            <br>
            <label for="total_unsaturated_fat_g">Total Unsaturated Fat (g):</label>
            <input id="total_unsaturated_fat_g" type="number" name="total_unsaturated_fat_g">
            <br>
            <input type="submit" value="Save">
        </form>     
{% endblock %}