{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Add Food in Meal</title>
{% endblock %}
{% block content%}
Add new food to {{mealtypekey}}
        <form name="form" action="{% url 'food-in-meal' userid=pat.id mealtype=mealtypekey logid=logidkey date1=showDate %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{pat.id}}" name="userid">
            <input type="hidden" value="{{mealtypekey}}" name="mealtype">
            <input type="hidden" value="{{logidkey}}" name="logid">
            <br>
            <label for="food">Name of Food:</label>
            <select name="food" id ="food">
                {% for foods in food %}
                <option value="{{foods.id}}">{{foods.name}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="amount">Amount in 
                {% if pat.unit_preference == 'us' %}
                ounces:
                {% elif pat.unit_preference == 'metric' %}
                grams:
                {% endif %}
            </label>
            <input id="amount" type="number" name="amount">
            <br>    
            <input type="submit" value="Add">
        </form>     
{% endblock %}