{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Kidney HQ</title>
{% endblock %}
{% block content%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome to Kidney center!</div>
                <div class="masthead-heading text-uppercase">Lorem ipsum dolor sit amet</div>
                <p>This is our main visualization 1</p>
                {{calories_kj}}
            </div>
            <div class = "row mt-3 pt-3">
                <div class = "col-md-4">
                    <!-- form will go here later-->
                </div>

                <div class = "col-md-4" >
                    <canvas id="myChart" ></canvas>
                        <script>
                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ['water', 'water to go'],
                                datasets: [{
                                    label: 'amount',
                                    data: [{{RDA_water}}, {{RDA_waterNOT}}],
                                    backgroundColor: [                                       
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(25, 80, 115, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                        </script>
                </div>
                <div class = "col-md-4" >
                        <canvas id="myChart4" ></canvas>
                        <script>
                        const ctx2 = document.getElementById('myChart4').getContext('2d');
                        const myChart4 = new Chart(ctx2, {
                            type: 'doughnut',
                            data: {
                                labels: ['protein', 'protein to go'],
                                datasets: [{
                                    label: 'amount',
                                    data: [{{RDA_protein}}, {{RDA_proteinNOT}}],
                                    backgroundColor: [
                                        'rgba(211, 167, 55, 0.8)',
                                        'rgba(105, 83, 27, 0.8)',

                                    ],
                                    borderColor: [
                                        'rgba(211, 167, 55, 1)',
                                        'rgba(211, 167, 55, 1)',

                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                        </script>
                </div>
                <div class = "col-md-4" >
                    <canvas id="myChart2" ></canvas>
                        <script>
                        const ctx5 = document.getElementById('myChart2').getContext('2d');
                        const myChart2 = new Chart(ctx5, {
                            type: 'doughnut',
                            data: {
                                labels: ['sodium', 'sodium to go'],
                                datasets: [{
                                    label: 'amount',
                                    data: [{{RDA_na}}, {{RDA_naNOT}}],
                                    backgroundColor: [
                                        'rgba(211, 69, 55, 0.8)',
                                        'rgba(105, 35, 27, 0.6)',
                                    ],
                                    borderColor: [
                                        'rgba(211, 69, 55, 1)',
                                        'rgba(211, 69, 55, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                        </script>
                </div>
                <div class = "col-md-4" >
                        <canvas id="myChart6" ></canvas>
                        <script>
                        const ctx3 = document.getElementById('myChart6').getContext('2d');
                        const myChart6 = new Chart(ctx3, {
                            type: 'doughnut',
                            data: {
                                labels: ['carbohydrates', 'carbs to go'],
                                datasets: [{
                                    label: 'amount',
                                    data: [{{RDA_carbs}}, {{RDA_carbsNOT}}],
                                    backgroundColor: [
                                        'rgba(151, 55, 211, 0.8)',
                                        'rgba(75, 26, 100, 0.8)'
                                    ],
                                    borderColor: [
                                        'rgba(151, 55, 211, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                        </script>
                </div>
                
            </div>
        </header>

{% endblock %}