{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Kidney HQ</title>
{% endblock %}
{% block content%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"><h1><b>Welcome to Kidney Center!</b></h1></div>
                <div class="masthead-heading text-uppercase">We created this page to help you stay healthy!</div>
                <p>Check out your progress!</p>
            </header>
<body>
    <style>
        .graphs {
            display: flex;
            position: absolute;
            flex-direction: column;
            flex-wrap: nowrap;
    
        }
        .items {
            display: inline-flex;
            height: 25vh;
            width: 15vw;
        }
    </style>
    <div class="graphs2">
    <div class = "col-md-4 items" >
        <canvas id="myChart" ></canvas>
            <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['water', 'water to go'],
                    datasets: [{
                        label: 'amount',
                        data: [{{chart_water}}, {{chart_waterNOT}}],
                        backgroundColor: [                                       
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(25, 80, 115, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        subtitle: {
                            display: true,
                            text: {% if chart_water > 100 %}"You've exceed your water limit for the day!"{% else %}""{% endif %},
                            position: 'bottom'
                        },
                        title: {
                            display: true,
                            text: "Daily Target: " + {{RDA_water}} + " mL"
                        }
                    }                     
                }
            });
            </script>
    </div>
    <div class = "col-md-4 items" >
        <canvas id="myChart4" ></canvas>
        <script>
        const ctx4 = document.getElementById('myChart4').getContext('2d');
        const myChart4 = new Chart(ctx4, {
            type: 'doughnut',
            data: {
                labels: ['protein', 'protein to go'],
                datasets: [{
                    label: 'amount',
                    data: [{{chart_protein}}, {{chart_proteinNOT}}],
                    backgroundColor: [
                        'rgba(211, 167, 55, 0.8)',
                        'rgba(105, 83, 27, 0.8)',
    
                    ],
                    borderColor: [
                        'rgba(211, 167, 55, 1)',
                        'rgba(211, 167, 55, 1)',
    
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    subtitle: {
                        display: true,
                        text: {% if chart_protein > 100 %}"You've exceed your protein limit for the day!"{% else %}""{% endif %},
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: "Daily Target: " + Math.round({{RDA_protein}},2) + " grams"
                    } 
                }                     
            }
        });
        </script>
    </div>
    <div class = "col-md-4 items" >
        <canvas id="myChart2" ></canvas>
            <script>
            const ctx2 = document.getElementById('myChart2').getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ['sodium', 'sodium to go'],
                    datasets: [{
                        label: 'amount',
                        data: [{{chart_na}}, {{chart_naNOT}}],
                        backgroundColor: [
                            'rgba(211, 69, 55, 0.8)',
                            'rgba(105, 35, 27, 0.6)',
                        ],
                        borderColor: [
                            'rgba(211, 69, 55, 1)',
                            'rgba(211, 69, 55, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        subtitle: {
                            display: true,
                            text: {% if chart_na > 100 %}"You've exceed your sodium limit for the day!"{% else %}""{% endif %},
                            position: 'bottom'
                        },
                        title: {
                            display: true,
                            text: "Daily Target: " + {{RDA_na}} + " mg"
                        }
                    }                     
                }
            });
            </script>
    </div>
    <div class = "col-md-4 items" >
        <canvas id="myChart6" ></canvas>
        <script>
        const ctx6 = document.getElementById('myChart6').getContext('2d');
        const myChart6 = new Chart(ctx6, {
            type: 'doughnut',
            data: {
                labels: ['carbohydrates', 'carbs to go'],
                datasets: [{
                    label: 'amount',
                    data: [{{chart_carbs}}, {{chart_carbsNOT}}],
                    backgroundColor: [
                        'rgba(151, 55, 211, 0.8)',
                        'rgba(75, 26, 100, 0.8)'
                    ],
                    borderColor: [
                        'rgba(151, 55, 211, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    subtitle: {
                        display: true,
                        text: {% if chart_carbs > 100 %}  "You've exceed your carb limit for the day!"{% endif %},
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: "Daily Target: " + {{RDA_carbs}} + " grams",
                    }
                }
            }
        });
        </script>
    </div>
    </div>
    <div>
        <p> Recommended Food:
            <ul>-Lean cuts of meat</ul>
            <ul>-Poultry</ul>
            <ul>-Fish</ul>
            <ul>-Beans</ul>
            <ul>-Vegetables</ul>
            <ul>-Fruits</ul>
            <ul>-Low-fat dairy</ul>
        </p>
    </div>
</body>

{% endblock %}