{% extends 'base.html' %}
{% load static %}
{% block content%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome to Kidney center!</div>
                <div class="masthead-heading text-uppercase">Lorem ipsum dolor sit amet</div>
                <p>This is our main visualization 1</p>
                <!--<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'showtrips' %}">Tell Me More</a> -->
            </div>
        </header>
{% endblock %}