{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Food Journal</title>
{% endblock %}
{% block content%}

<h2><b>My Daily Food Journal</b></h2>
<br>
<form name="form" action="{% url 'journal' userid=pat.id date1='other' %}" method="post">
    {% csrf_token %}
    <label for="sDate">Select Date</label>
    <input type="date" name="sDate" id="sDate" value="{{showDate}}">
    <input type="submit" value="Show Meals on this Date">
</form>

<div class="container">
    <h3>Breakfast</h3><a class = "btn btn-primary" href="{% url 'food-in-meal' userid=pat.id mealtype='breakfast' logid=0 date1=showDate%}">Add food</a>
    <br>
    {% for food in breakfast %}
        {{food}}
        <br>
    {% endfor %}
    <br> 
    <h3>Lunch</h3><a class = "btn btn-primary" href="{% url 'food-in-meal' userid=pat.id mealtype='lunch' logid=0 date1=showDate%}">Add food</a>
    <br>
    {% for food in lunch %}
        {{food}}
        <br>
    {% endfor %}
    <br> 
    <h3>Dinner</h3><a class = "btn btn-primary" href="{% url 'food-in-meal' userid=pat.id mealtype='dinner' logid=0 date1=showDate%}">Add food</a>
    <br>
    {% for food in dinner %}
        {{food}}
        <br>
    {% endfor %}
    <br> 
    <h3>Snacks</h3><a class = "btn btn-primary" href="{% url 'food-in-meal' userid=pat.id mealtype='snacks' logid=0 date1=showDate%}">Add food</a>
    <br>
    {% for food in snacks %}
        {{food}}
        <br>
    {% endfor %} 
</div>
  
{% endblock %}