{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Food Journal</title>
{% endblock %}
{% block content%}
This will be the food journal page.  It will display what foods you've eaten, out of what requirements,
based on a weekly or monthly view.

<h1><b>Food Journal</b></h1>
<br><br>

<div class="container">
    Breakfast<a class = "btn btn-primary" href="{% url 'food-in-meal' userid=pat.id mealtype='breakfast' logid=0%}">Add food</a>
    <br>
    {% for food in breakfast %}
        {{food}}
        <br>
    {% endfor %}
    <br> 
    Lunch
    <br>
    {% for food in lunch %}
        {{food}}
        <br>
    {% endfor %}
    <br> 
    Dinner
    <br>
    {% for food in dinner %}
        {{food}}
        <br>
    {% endfor %}
    <br> 
    Snacks
    <br>
    {% for food in snacks %}
        {{food}}
        <br>
    {% endfor %} 
</div>
  
{% endblock %}