{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class = "container">
    <div class = "text-left">
        <h2 class = "section=heading text-uppercase">Add Serum Reading</h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'add-level' %}">
        {% csrf_token %}
        <label for='log_date'>Date of the log:</label>
        <input type="date" name="log_date" id="log_date" autofocus>
        <br><br>

        <label for= 'level'>Serum Levels:</label>
        <input type="text" name="level" id="level">
        <br><br>

        <label for='serum_name'>Select Serum Type:</label> 
        <select name='serum_name' id ="serum_name">
            {% for names in serum %}
            <option value="{{serum.name}}">{{serum.name}}, ( {{serum.units}} )</option>
            {% endfor %}
        </select>

        <button type="submit">Update</button>
    </form>
{% endblock %}